<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Titre</title>
  </head>
  <body>
    <% include partials/header %>
    <%- body %>
    <% include partials/footer %>
  </body>
</html>
