<% layout('../layouts/application') %>
<% /*
 SET A SPECIFIC STYLESHEET
 stylesheet('/assets/stylesheets/pages.css') */
%>

<% setLocale('en') %>
<h3><%= __("hello.hi") %></h3>
<form action="/" method="post">
  <input type="hidden" name="_csrf" value="<%= csrf %>">
  <input type="submit" value="Send error flash">
</form>
